html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $blue-dark;
}

#root {
  // min-height: 100%;
  position: relative;
}

.active {
  color: $blue;
}

.header-container {
  display: flex;
  background: $white;
  padding: 24px;
  border-bottom: 1px solid $light-white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .logo{
    padding: 8px 32px;
    background: #D8D8D8;
    font-size: 14px;
  }
  .user-details{
    width: 30%;
    justify-content: space-between;
    display: flex;
    i {
      color: $brand-purple;
      font-size: 16px;
      span{
        margin-left: 10px;
      }
    }
    .fa-user-circle{
      color: $light-green;
      font-size: 24px;
    }
  }
}

.offer-container{
  background: $black;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  h6 {
    color: $white;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }
  input {
    width: auto;
    border: 1px solid $white;
    border-radius: 24px;
  }
}

.dashboard{
  padding-bottom: 100px;
  .badges-list{
    display: flex;
    .badge{
      border: 1px solid $badge-default-color;
      background: $white;
      border-radius: 24px;
      padding: 10px 24px;
      margin-right: 16px;
    }
    i{
      display: flex;
      align-items: center;
      background: $badge-default-color;
      border-radius: 25px;
      width: 40px;
      justify-content: center;
      margin-right: 16px;
    }
  }
  h5{
    margin: 48px 0 0 0;
    color: $primary;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    span {
      color: $brand-purple;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .cards-container{
    display: flex;
    box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.09);
    margin-top: 32px;
    .info-section{
      flex: 2;
      padding: 32px;
      border-right: 1px solid #F2F2F2;
      img {
        width: 372px;
        border-radius: 8px;
      }
      .nav-tabs{
        border: 0;
        .nav-link{ 
          font-size: 12px;
          color: $nav-default-color;
        }
      }
      .nav-tabs .nav-link.active{
        color: $primary !important;
        border: 0;
        border-bottom: 2px solid $brand-purple;
      }
      .tab-content{
        margin-top: 10px;
        .info {
          color: #4F4F4F;
        }
      }
    }
    .detail-section{
      flex: 3;
      padding: 32px;
      h6{
        margin: 0;
      }
      .title{
        color: $primary;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: $warning;
          font-size: 15px;
        }
      }
      .name{
        color: $nav-default-color;
        font-size: 16px;
        font-weight: 300;
        margin: 15px 0;
      }
      span {
        display: block;
        margin: 15px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        color: $gray-black;
      }
      .booking-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .btn {
          padding: 12px 55px;
          background: $secondary;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          color: $white;
          font-size: 16px;
          line-height: 22px;
          text-align: center;
          text-transform: uppercase;
        }
        i{
          color: $brand-purple;
          cursor: pointer;
        }
      }
    }
  }
  .show-more {
    text-align: center;
    margin: 20px 0px;
    .btn{
      color: $gray-black;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      background-color: $white;
      text-align: center;
    }
  }

}